<a href="https://colab.research.google.com/github/sushmibatreddi/libraries-project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1
a)input and output handling

In [17]:
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
c=a+b
print("Addition is ",c)

Enter the value of a:11
Enter the value of b:22
Addition is  33

b)looping constructs

In [18]:
for i in range(0,10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

c)Array Sets List Dictionary

ARRAY

In [20]:
import array
arr = array.array('i', [11, 34, 49, 66, 80])
print ("The new created array is : ", end ="")
for i in range (0, 5): print (arr[i], end =" ")
print("\n")
print ("The popped element is : ", end ="")
print (arr.pop (2))
print ("The array after popping is : ", end ="")
for i in range (0, 4):
  print (arr[i], end =" ")

The new created array is : 11 34 49 66 80

The popped element is : 49
The array after popping is : 11 34 66 80

LIST

In [22]:
animals = ["panda", "puppy", "lion", "elephant"]
newlist = []
for x in animals:
  if "a" in x:
    newlist.append(x)
print(newlist)
animals = ["panda", "puppy", "lion", "elephant"]
newlist = [x for x in animals if "a" in x]
print(newlist)

['panda', 'elephant']
['panda', 'elephant']

SETS

In [24]:
students = {"sushmi","mannu","madhu", "keerthi"}
print("students:", end = "")
print (students)
students.add("mahi")
for i in range(1, 6): students.add(1)
print("\nset after adding element:", end = "")
print (students)

students:{'mannu', 'madhu', 'keerthi', 'sushmi'}

set after adding element:{1, 'mannu', 'madhu', 'mahi', 'keerthi', 'sushmi'}

DICTIONARY

In [28]:
Dict = {}
Dict[0] = 'helLO'
Dict[2] ='hii'
Dict[3] = 11
print("\nDictionary after adding 3 elements: ")
print(Dict)
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print (Dict)
Dict [2] ='WELCOME'
print("\nUpdated key value: ")
print(Dict)

Dictionary after adding 3 elements:
{0: 'helLO', 2: 'hii', 3: 11}

Dictionary after adding 3 elements:
{0: 'helLO', 2: 'hii', 3: 11, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'helLO', 2: 'WELCOME', 3: 11, 'Value_set': (2, 3, 4)}

2
a)Modules and Functions

Modules

In [29]:
import math
n=int(input("Enter the value of n:"))
a=math.sqrt(n)
print("the square root of n is:",a)

Enter the value of n:64
the square root of n is: 8.0

Function

In [31]:
def mul(x):
  return 11 * x
print(mul(3))
print(mul(5))
print(mul(9))

33
55
99

b)File Handling

In [32]:
fo = open("dataclient2.txt", "wb")
print ("File Name: ", fo.name)
print ("Mode of Opening: ", fo.mode)
print ("Is Closed: ", fo.closed)

File Name:  dataclient2.txt
Mode of Opening:  wb
Is Closed:  False

c)Exception Handling

In [34]:
a = [3, 4, 6]
try:
     print("Second element=%d "%(a[1]))
     print("Fourth element=%d"%(a[3]))
except:
    print("An error occurred")

Second element=4
An error occurred

3)From a given list, find the second largest value from the list

In [36]:
list1 = [7,6,2,1,5,4]
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secondmax=mx
        mx=list1[i]
    elif list1[i]>secondmax and \
        mx != list1[i]:
        secondmax=list1[i]
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  6